* {
	font-size: 18px;
	line-height: 1.4;
}

header {
    background: url(../images/glasses-bg.png) no-repeat center center;
    background-size: cover;
    padding-top: 1rem;
    height: 30rem;
 }

.container {
	max-width: 960px;
	margin: auto;
}

nav {
	background-color: cadetblue;
	color: white;
	font-family: Helvetica;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav div {
	display: flex;
	align-items: center;
}

nav img {
	height: 1.5rem;
	margin-left: 2rem;
	margin-right: 1rem;
}

ul {
	margin-right: 1rem;
}

ul li {
	display: inline;
	justify-content: flex-end;
	padding: 1rem 1rem;
}

.mobile-menu {
	display: none;
}

header .flex {
	justify-content: flex-end;
}

.flex {
	display: flex;
}

.main-banner {
    background-color: white;
    padding: 0.75rem 5rem;
    margin-top: 10rem;
    margin-right: -2rem;
}

h1 {	
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}

.icons {
	display: flex;
	justify-content: center;
}

.icons .paper-icon img {
	width: 3.5rem;
}

.ruler-icon img,
.truck-icon img {
	width: 5rem;
}

.paper-icon,
.ruler-icon,
.truck-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 3rem;
	height: 8rem;
	width: 5rem;
}

.icons div {
	font-family: Helvetica;
	font-size: 1rem;
}

.title {
	font-family: Helvetica;
	font-size: 1rem;
	font-weight: bold;
	padding-left: 1.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
	background-color: cadetblue;
	width: 10rem;
	color: white;
}

.infos {
	display: flex;
	justify-content: center;
}

.info {
    width: 35%;
    margin-right: 5%;
    margin-bottom: 4rem;
}

p,
footer div {
	font-family: Helvetica;
}

footer {
	display: flex;
	align-items: center;
	background-color: azure;
	padding: 4rem 2rem;
}

footer img {
	height: 1.5rem;
	margin-right: 1rem;
	margin-left: 2rem;
}

img {
	border-style: none;
}

@media only screen and (max-width: 1024px) {
	h1 {
		font-size: 1.33rem;
	}
	body {
		width: 100%;
		margin: auto;
	}
	header {
		height: 22rem;
		padding-top: 0;
	}
	.main-banner {
		padding: 0.75rem 4rem;
		margin-top: 5rem;
		margin-right: 2rem;
	}
	.container {
		width: 100%;
	}
	header .container {
		max-width: unset;
	}
}

@media only screen and (max-width: 470px) {
	h1 {
		font-size: 1rem;
		text-align: center;
	}
	body {
		width: 100%;
		margin: auto;
	}
	header {
		height: 17rem;
		padding-top: 0;
		background-position: 20%;
	}
	.main-banner {
		margin-top: 9rem;
		width: 100%;
		margin-right: unset;
	}
	header span,
	.menu {
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	header .flex {
		width: 100%;
	}
	.icons {
		flex-direction: column;
		align-items: center;
	}
	.paper-icon {
		margin: 3.77rem 0 0 0;
	}
	.ruler-icon {
		margin: 1.54rem 0;
	}
	.truck-icon {
		margin: 0 0 3.77rem 0;
	}
	.infos {
		flex-direction: column;
	}
	.info {
		width: 100%;
		font-size: 0.77rem;
		margin-right: 0;
	}
	.title {
		width: 100%;
		text-align: center;
		padding-left: unset;
	}
	footer div {
		display: none;
	}
	footer img {
		margin: auto;
		padding: 4rem 0;
	}
	p {
		margin-left: 8px;
	}
	.container {
		margin: auto;
		padding: unset;
	}
}